body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#menu{
  height: 100%;
  width: 20%;
  text-align: left;
  position: absolute;
}
.boton_menu{
  font-weight: bolder;
  left: 4%;
  width: 90%;
  background-color: white;
  border: 0px;
  text-align: left;
  float:top;
  height: 5%;
  cursor:pointer;
  vertical-align: center;
  position: relative;
}
button{
  outline-color: palegreen;
}
.boton_menu:hover{
  background-color: palegreen;
  border: 0px
}
.seccion_titulo{
  font-weight: bolder;
  font-size: 2.5em;

}
.negrita{
  font-weight: bolder;
}
.tabulador{
  left: 5%;
  width:90%;
  display: block;
  position: relative;
}
.subseccion_titulo{
  font-weight: 600;
  font-size: 1.5em;
  
  position: relative;

}
.logo{
  text-align: center;
  cursor: pointer;
  font-size: 2vw;
  color: palegreen;
}

.titulo{
  text-align: center;
  width: 100%;
  
  font-size: 5vh;
  font-weight: 900;
  color: palegreen;
  position: relative;
  height: 20%;
}
.subtitulo{
  width: 100%;
  text-align: center;
  height: 20%;
}
#container{
  height: 100%;
  left:21%;
  scroll-behavior: smooth;
  width: 79%;
  text-align: left;
  
  overflow: auto;
  position: absolute;
}
.bocadillo{
  opacity: 0;
  width: 0px;
  height: 0px;
}
@media only screen and (max-width: 600px) {
  #menu{
    width: 1%;
    opacity: 0;
    z-index: 9999;
  }
  .bocadillo{
    width:40px;
    height: 40px;
    opacity: 1;
    z-index: 99999;
    position: absolute;
  }
  .logo{
    text-align: center;
    font-size: 6vw;
    color: palegreen;
  }
  #container{
    left: 3%;
    width: 94%;
    opacity: 1;
  }
}

